KUBELET_VERSION={{kubelet_version}}
KUBELET_ACI={{kubelet_aci}}
RKT_OPTS="--volume etc-resolv,kind=host,source=/etc/resolv.conf --mount volume=etc-resolv,target=/etc/resolv.conf --volume etc-ssh,kind=host,source=/etc/ssh --mount volume=etc-ssh,target=/etc/ssh"
