[Unit]
Description=Kubelet Service
Documentation=https://github.com/kubernetes/kubernetes

[Service]
EnvironmentFile=-/etc/environment
ExecStart={{coreos_kubelet_install_dir}}/kubelet-wrapper \
  --allow-privileged=true \
  --config=/etc/kubernetes/manifests \
  --hostname-override={{ansible_default_ipv4.address}} \
  --cluster_dns={{dns_server}} \
  --cluster_domain=cluster.local \
  --cadvisor-port=0 \
  --volume-plugin-dir=/etc/kubernetes/volumeplugins \
  --register-node=true \
{% if inventory_hostname in groups['kubernetes-masters'] %}
  --api_servers=http://127.0.0.1:8080 \
  {% if inventory_hostname in groups['kubernetes-minions'] %}
    --register-schedulable=true
  {% else %}
    --register-schedulable={% if kube_master_register %}true{% else %}false{% endif %}
  {% endif %}
{% else %}
  --api_servers={% for node in groups['kubernetes-masters'] %}https://{{ hostvars[node].ansible_default_ipv4.address }}{% if not loop.last %},{% endif %}{% endfor %} \
  --kubeconfig=/etc/kubernetes/worker-kubeconfig.yaml \
  --tls-cert-file=/etc/kubernetes/ssl/worker.pem \
  --tls-private-key-file=/etc/kubernetes/ssl/worker-key.pem \
{% endif %}

Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
