# deprecated options (pre 1214)
KUBELET_VERSION={{kubelet_version}}
KUBELET_ACI={{kubelet_aci}}
RKT_OPTS="--volume etc-resolv,kind=host,source=/etc/resolv.conf --mount volume=etc-resolv,target=/etc/resolv.conf --volume etc-ssh,kind=host,source=/etc/ssh --mount volume=etc-ssh,target=/etc/ssh"
# new options
KUBELET_IMAGE_TAG={{kubelet_version}}
KUBELET_IMAGE_URL={{kubelet_aci}}
RKT_RUN_ARGS="{{kubelet_extra_rkt_run_args}} --volume etc-resolv,kind=host,source=/etc/resolv.conf --mount volume=etc-resolv,target=/etc/resolv.conf --volume etc-ssh,kind=host,source=/etc/ssh --mount volume=etc-ssh,target=/etc/ssh"
