[Unit]
Description=Kubelet Service
Documentation=https://github.com/kubernetes/kubernetes

[Service]
EnvironmentFile=-/etc/environment
ExecStart={{coreos_kubelet_install_dir}}/kubelet-wrapper \
  --allow-privileged=true \
  --pod-manifest-path=/etc/kubernetes/manifests \
  --hostname-override={{ansible_default_ipv4.address}} \
  --cluster-dns={{dns_server}} \
  --cluster-domain=cluster.local \
  --volume-plugin-dir=/etc/kubernetes/volumeplugins \
  --register-node=true \
{% if inventory_hostname in groups['kubernetes-masters'] %}
  --kubeconfig=/etc/kubernetes/apiserver-kubeconfig.yaml \
{% else %}
  --kubeconfig=/etc/kubernetes/worker-kubeconfig.yaml \
  --tls-cert-file=/etc/kubernetes/ssl/worker.pem \
  --tls-private-key-file=/etc/kubernetes/ssl/worker-key.pem \
{% endif %}
{% if kube_enable_cloud_provider %}
  --cloud-provider={{kube_cloud_provider}}
{% endif %}
{% if kubelet_options is defined %}
{% for key, value in kubelet_options.iteritems() %}
  --{{key | lower | replace("_", "-") }}={{value}} \
{% endfor %}
{% endif %}

Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
