KUBELET_IMAGE_TAG={{kubelet_image_tag}}
KUBELET_IMAGE_URL={{kubelet_image_url}}
RKT_RUN_ARGS="{{kubelet_extra_rkt_run_args}} --volume etc-resolv,kind=host,source=/etc/resolv.conf --mount volume=etc-resolv,target=/etc/resolv.conf --volume etc-ssh,kind=host,source=/etc/ssh --mount volume=etc-ssh,target=/etc/ssh"
